@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-fraunces);
  --color-mongodb-bg: #001E2B;
  --color-mongodb-neon: #00ED64;
  --color-mongodb-card: #061621;
}

body {
  background-color: var(--color-mongodb-bg);
  color: #F9FBFA;
  font-family: var(--font-sans);
}

.bg-grid-pattern {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 60px 60px;
}
